@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

html {
    font-family: Raleway;
}

.header {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1;
}

.header:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.header__info {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
}

.header__title {
    font-size: 22px;
    margin-bottom: 8px;
}

.header__title span {
    color: #efbf2e;
}

.header__sub-title {
    font-size: 7px;
    letter-spacing: 4px;
}

.header__sub-title span {
    letter-spacing: 1px;
}

.slider {
    width: 100%;
    height: 600px;
    background-image: url(../images/slide1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: #fff;
}

.slider:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.slider__wrap {
    margin-top: 130px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}

.slider__title {
    margin-bottom: 22px;
    font-size: 73px;
    letter-spacing: 5px;
}

.slider__sub-title {
    width: 130px;
    font-size: 18px;
    display: inline-block;
    letter-spacing: 2px;
    line-height: 1.6;
}

.slider__control {
    width: 60px;
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 52px;
}

.slider__circle {
    display: block;
    float: left;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    margin: 0px 7px;
}

.slider__circle:hover {
    background: #efbf2e;
}

.slider__circle:focus {
    background: #efbf2e;
}

.menu {
    width: 100%;
    height: 72px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-family: Montserrat;
}

.menu-list {
    padding: 30px 0px;
    font-size: 14px;
    text-align: center;
}

.menu-item {
    display: inline;
    margin-left: -.36em;
}

.menu-item:first-child {
    margin-left: 0;
}

.menu-item a {
    color: #393939;
    text-decoration: none;
    padding: 30px 22px;
}

.menu-item a:hover {
    text-decoration: underline;
    color: #fff;
    background-color: #efbf2e;
}

.menu-item a:focus {
    text-decoration: underline;
    color: #fff;
    background-color: #efbf2e;
}

.welcome {
    width: 100%;
    height: 780px;
    background-color: #efbf2e;
    text-transform: uppercase;
    text-align: center;
}

.welcome__wrap {
    width: 645px;
    height: inherit;
    margin: 0 auto;
}

.welcome__title {
    padding-top: 65px;
    font-family: Montserrat-Regular;
    font-size: 35px;
    letter-spacing: 1px;
    color: #fff;
}

.welcome__sub-title {
    font-size: 12px;
    padding-top: 25px;
    color: #1e1e1e;
}

.welcome__offers {
    width: 100%;
    padding-top: 36px;
}

.welcome__offers-logo {
    position: relative;
    width: 190px;
    height: 109.70px;
    background-color: #1e1e1e;
    margin: 54.85px 0;
    display: inline-block;
    box-sizing: border-box;
}

.welcome__offers-logo:before,
.welcome__offers-logo:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    border-left: 95px solid transparent;
    border-right: 95px solid transparent;
}

.welcome__offers-logo:before {
    bottom: 100%;
    border-bottom: 54.85px solid #1e1e1e;
}

.welcome__offers-logo:after {
    top: 100%;
    width: 0;
    border-top: 54.85px solid #1e1e1e;
}

.welcome__offers-logo--center {
    margin: 54.85px 15px;
}

.welcome__offers-logo--bottom {
    margin: 15px 7.5px;
}

.welcome__logo-wrap {
    height: 75px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #7b7b7b;
}

.welcome__logo-icon {
    font-size: 60px;
}

.welcome__logo-text {
    font-size: 8px;
    margin-top: 15px;
    letter-spacing: 1px;
}

.welcome__desc {
    margin-top: 80px;
    font-size: 11.5px;
    line-height: 1.5;
    text-transform: none;
    color: #1e1e1e;
}

.welcome__more {
    padding: 8.5px 16px;
    margin-top: 40px;
    text-transform: uppercase;
    color: #fff;
    background: #1e1e1e;
    border: none;
    border-radius: 1px;
    font-size: 11px;
    font-family: Montserrat;
}

.welcome__more:hover {
    text-decoration: underline;
}

.welcome__more:focus {
    text-decoration: underline;
}

.provide {
    width: 100%;
    height: 367px;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat-Regular;
}

.provide__title {
    margin-top: 50px;
    letter-spacing: 1px;
    font-size: 35px;
    color: #efbf2e;
}

.provide__subtitle {
    margin-top: 12px;
    font-size: 12px;
    color: #1e1e1e;
}

.provide__solutions-wrap {
    width: 645px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.provide__solutions {
    width: 25%;
}

.provide__solutions-icon {
    font-size: 100px;
    color: #292929;
}

.provide__solutions-text {
    margin-top: 32px;
    text-transform: none;
    font-size: 10px;
    color: #757575;
    line-height: 1.5;
}

.mid-banner {
    width: 100%;
    height: 380px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    color: #fff;
}

.mid-banner__img-wrap {
    position: absolute;
    width: 2000px;
    height: 2000px;
    margin: -1000px 0 0 -1000px;
    left: 50%;
    top: 50%;
    text-align: center;
    line-height: 2000px;
    z-index: 1;
}

.mid-banner__img {
    vertical-align: middle;
}

.mid-banner__info {
    width: 645px;
    margin: 0 auto;
    position: relative;
    margin-top: 110px;
    z-index: 5;
}

.mid-banner__text-wrap {
    width: 310px;
}

.mid-banner__title {
    display: block;
    font-size: 60px;
}

.mid-banner__sub-title {
    font-size: 25px;
    line-height: 1.3;
}

.mid-banner__more {
    padding: 8.5px 16px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #fff;
    background: #f8bc28;
    border: none;
    border-radius: 1px;
    font-size: 11px;
    font-family: Montserrat;
}

.mid-banner__more:hover {
    text-decoration: underline;
}

.mid-banner__more:focus {
    text-decoration: underline;
}

.advantages {
    width: 100%;
    height: 620px;
    background: #252628;
    padding: 100px 0;
}

.advantages__info-block {
    width: 725px;
    height: 225px;
    margin: 0 auto;
    box-sizing: border-box;
    color: #fff;
}

.advantages__title {
    width: 66%;
    height: 225px;
    line-height: 225px;
    float: left;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

.advantages__img-wrap {
    position: absolute;
    width: 2000px;
    height: 2000px;
    margin: -1000px 0 0 -1000px;
    left: 50%;
    top: 50%;
    text-align: center;
    line-height: 2000px;
    z-index: 1;
}

.advantages__img {
    vertical-align: middle;
}

.advantages__title h2 {
    width: 308px;
    position: absolute;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    z-index: 5;
    left: 50%;
    margin: 0 0 0 -154px;
    letter-spacing: 1.7px;
}

.advantages__desc {
    width: 34%;
    height: inherit;
    float: left;
    background: #5499ba;
    text-align: right;
    padding: 25px 40px;
    box-sizing: border-box;
}

.advantages__icon {
    font-size: 55px;
}

.advantages__text {
    width: 156px;
    height: 60%;
    margin-top: 18px;
    font-size: 9px;
    line-height: 1.7;
    overflow: hidden;
}