@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Mada;
    src: url(../fonts/Mada/Mada-SemiBold.ttf);
}

html {
    font-family: Raleway;
}

.header {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1;
}

.header:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.header__info {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
}

.header__title {
    font-size: 22px;
    margin-bottom: 8px;
}

.header__title span {
    color: #efbf2e;
}

.header__sub-title {
    font-size: 7px;
    letter-spacing: 4px;
}

.header__sub-title span {
    letter-spacing: 1px;
}

.slider {
    width: 100%;
    height: 600px;
    background-image: url(../images/slide1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: #fff;
}

.slider:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.slider__wrap {
    margin-top: 130px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}

.slider__title {
    margin-bottom: 22px;
    font-size: 73px;
    letter-spacing: 5px;
}

.slider__sub-title {
    width: 130px;
    font-size: 18px;
    display: inline-block;
    letter-spacing: 2px;
    line-height: 1.6;
}

.slider__control {
    width: 60px;
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 52px;
}

.slider__circle {
    display: block;
    float: left;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    margin: 0px 7px;
}

.slider__circle:hover {
    background: #efbf2e;
}

.slider__circle:focus {
    background: #efbf2e;
}

.menu {
    width: 100%;
    height: 72px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-family: Montserrat;
}

.menu-list {
    padding: 30px 0px;
    font-size: 14px;
    text-align: center;
}

.menu-item {
    display: inline;
    margin-left: -.36em;
}

.menu-item:first-child {
    margin-left: 0;
}

.menu-item a {
    color: #393939;
    text-decoration: none;
    padding: 30px 22px;
}

.menu-item a:hover {
    text-decoration: underline;
    color: #fff;
    background-color: #efbf2e;
}

.menu-item a:focus {
    text-decoration: underline;
    color: #fff;
    background-color: #efbf2e;
}

.welcome {
    width: 100%;
    height: 780px;
    background-color: #efbf2e;
    text-transform: uppercase;
    text-align: center;
}

.welcome__wrap {
    width: 645px;
    height: inherit;
    margin: 0 auto;
}

.welcome__title {
    padding-top: 65px;
    font-family: Montserrat-Regular;
    font-size: 35px;
    letter-spacing: 1px;
    color: #fff;
}

.welcome__sub-title {
    font-size: 12px;
    padding-top: 25px;
    color: #1e1e1e;
}

.welcome__offers {
    width: 100%;
    padding-top: 36px;
}

.welcome__offers-logo {
    position: relative;
    width: 190px;
    height: 109.70px;
    background-color: #1e1e1e;
    margin: 54.85px 0;
    display: inline-block;
    box-sizing: border-box;
}

.welcome__offers-logo:before,
.welcome__offers-logo:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    border-left: 95px solid transparent;
    border-right: 95px solid transparent;
}

.welcome__offers-logo:before {
    bottom: 100%;
    border-bottom: 54.85px solid #1e1e1e;
}

.welcome__offers-logo:after {
    top: 100%;
    width: 0;
    border-top: 54.85px solid #1e1e1e;
}

.welcome__offers-logo--center {
    margin: 54.85px 15px;
}

.welcome__offers-logo--bottom {
    margin: 15px 7.5px;
}

.welcome__logo-wrap {
    height: 75px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #7b7b7b;
}

.welcome__logo-icon {
    font-size: 60px;
}

.welcome__logo-text {
    font-size: 8px;
    margin-top: 15px;
    letter-spacing: 1px;
}

.welcome__desc {
    margin-top: 80px;
    font-size: 11.5px;
    line-height: 1.5;
    text-transform: none;
    color: #1e1e1e;
}

.welcome__more {
    padding: 8.5px 16px;
    margin-top: 40px;
    text-transform: uppercase;
    color: #fff;
    background: #1e1e1e;
    border: none;
    border-radius: 1px;
    font-size: 11px;
    font-family: Montserrat;
}

.welcome__more:hover {
    text-decoration: underline;
}

.welcome__more:focus {
    text-decoration: underline;
}

.provide {
    width: 100%;
    height: 367px;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat-Regular;
}

.provide__title {
    margin-top: 50px;
    letter-spacing: 1px;
    font-size: 35px;
    color: #efbf2e;
}

.provide__subtitle {
    margin-top: 12px;
    font-size: 12px;
    color: #1e1e1e;
}

.provide__solutions-wrap {
    width: 645px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.provide__solutions {
    width: 25%;
}

.provide__solutions-icon {
    font-size: 100px;
    color: #292929;
}

.provide__solutions-text {
    margin-top: 32px;
    text-transform: none;
    font-size: 10px;
    color: #757575;
    line-height: 1.5;
}

.mid-banner {
    width: 100%;
    height: 380px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    color: #fff;
}

.mid-banner__img-wrap {
    position: absolute;
    width: 2000px;
    height: 2000px;
    margin: -1000px 0 0 -1000px;
    left: 50%;
    top: 50%;
    text-align: center;
    line-height: 2000px;
    z-index: 1;
}

.mid-banner__img {
    vertical-align: middle;
}

.mid-banner__info {
    width: 645px;
    margin: 0 auto;
    position: relative;
    margin-top: 110px;
    z-index: 5;
}

.mid-banner__text-wrap {
    width: 310px;
}

.mid-banner__title {
    display: block;
    font-size: 60px;
}

.mid-banner__sub-title {
    font-size: 25px;
    line-height: 1.3;
}

.mid-banner__more {
    padding: 8.5px 16px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #fff;
    background: #f8bc28;
    border: none;
    border-radius: 1px;
    font-size: 11px;
    font-family: Montserrat;
}

.mid-banner__more:hover {
    text-decoration: underline;
}

.mid-banner__more:focus {
    text-decoration: underline;
}

.advantages {
    width: 100%;
    height: 620px;
    background: #252628;
    padding: 72px 0;
    font-family: Montserrat-Regular;
    box-sizing: border-box;
}

.advantages__info-block {
    width: 725px;
    height: 225px;
    margin: 0 auto;
    margin-bottom: 27px;
    box-sizing: border-box;
    color: #fff;
}

.advantages__title {
    width: 66%;
    height: 225px;
    line-height: 225px;
    float: left;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

.advantages__img-wrap {
    position: absolute;
    width: 2000px;
    height: 2000px;
    margin: -1000px 0 0 -1000px;
    left: 50%;
    top: 50%;
    text-align: center;
    line-height: 2000px;
    z-index: 1;
}

.advantages__img {
    vertical-align: middle;
}

.advantages__title-text {
    width: 320px;
    position: absolute;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    z-index: 5;
    left: 50%;
    margin: 0 0 0 -160px;
    letter-spacing: 1.3px;
    word-spacing: -2px;
}

.advantages__title-text--bot {
    width: 300px;
    margin: 0 0 0 -150px;
}

.advantages__desc {
    width: 34%;
    height: inherit;
    float: left;
    background: #5499ba;
    text-align: right;
    padding: 25px 40px;
    box-sizing: border-box;
}

.advantages__desc--bot {
    text-align: left;
    background: #9e5c82;
    padding: 30px 45px 40px;
}

.advantages__icon {
    font-size: 55px;
}

.advantages__icon:before {
    margin: 0;
}

.advantages__text {
    width: 164px;
    height: 60%;
    margin-top: 16px;
    font-size: 9px;
    line-height: 1.7;
    overflow: hidden;
}

.news {
    width: 100%;
    height: 432px;
    text-transform: uppercase;
    font-family: Montserrat-Regular;
    box-sizing: border-box;
}

.news__wrap {
    width: 725px;
    margin: 0 auto;
    margin-top: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news__archive {
    width: 31.7%;
    padding-top: 43px;
    padding-left: 7px;
}

.news__archive-icon {
    font-size: 100px;
    color: #e5e5e5;
}

.news__archive-icon:before {
    margin: 0;
}

.news__archive-title {
    font-family: Montserrat;
    margin-top: 26px;
    font-size: 35px;
    color: #3b3b3b;
    letter-spacing: 1px;
    word-spacing: -1px;
    line-height: 1.08;
}

.news__view-archive {
    border: 0;
    padding-left: 2px;
    margin-top: 20px;
    font-size: 10.5px;
    background: #fff;
    color: #737373;
    letter-spacing: 1.2px;
    word-spacing: -2px;
    text-transform: uppercase;
}

.news__view-archive:hover {
    text-decoration: underline;
}

.news__view-archive:focus {
    text-decoration: underline;
}

.news__actual {
    width: 30.8%;
    overflow: hidden;
    padding-left: 3px;
}

.news__actual-date {
    position: relative;
    width: 135px;
    height: 80px;
    background-color: #e5e5e5;
    margin: 54.85px 0;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    color: #3b3b3b;
    font-size: 65px;
    font-family: Mada;
    letter-spacing: 2px;
    margin-left: 3px;
}

.news__actual-date:before,
.news__actual-date:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    border-left: 67.5px solid transparent;
    border-right: 67.5px solid transparent;
}

.news__actual-date:before {
    bottom: 100%;
    border-bottom: 40px solid #e5e5e5;
}

.news__actual-date:after {
    top: 100%;
    width: 0;
    border-top: 40px solid #e5e5e5;
}

.news__actual-month {
    font-size: 18px;
    color: #9a9a9a;
    margin-top: -9px;
}

.news__actual-title {
    font-size: 10px;
    font-family: Montserrat;
    margin-top: 9px;
    margin-left: -1px;
    color: #30302b;
    letter-spacing: 0.35px;
}

.news__actual-text {
    color: #9a9a9a;
    text-transform: none;
    margin-top: 14px;
    margin-left: -1px;
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: 0.35px;
}

.news__actual__more {
    padding: 8.5px 16px;
    margin-top: 21.5px;
    margin-left: -3px;
    text-transform: uppercase;
    color: #3b3b3b;
    background: #fff;
    border: 1px solid #eeeeee;
    letter-spacing: 0.35px;
    border-radius: 1px;
    font-size: 11px;
    font-family: Montserrat;
}

.news__actual__more:hover {
    text-decoration: underline;
    border: 1px solid #e5e5e5;
    background: #e5e5e5;
}

.news__actual__more:focus {
    text-decoration: underline;
    background: #e5e5e5;
    border: 1px solid #e5e5e5;
}

.portfolio {
    width: 100%;
    height: 465px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    font-family: Montserrat-Regular;
    box-sizing: border-box;
    padding-top: 100px;
}

.portfolio__img-wrap {
    position: absolute;
    width: 2000px;
    height: 2000px;
    margin: -1000px 0 0 -1000px;
    left: 50%;
    top: 50%;
    text-align: center;
    line-height: 2000px;
    z-index: 1;
}

.portfolio__img {
    vertical-align: middle;
}

.portfolio__wrap {
    width: 550px;
    margin: 0 auto;
    color: #fff;
    position: relative;
    z-index: 5;
    text-align: center;
}

.portfolio__title {
    font-size: 60px;
    letter-spacing: 3.5px;
    word-spacing: -6px;
}

.portfolio__desc {
    font-size: 26px;
    margin-top: 10px;
    line-height: 1.3;
    word-spacing: 0.5px;
}

.portfolio__more {
    padding: 8.5px 16px;
    margin-top: 18.5px;
    margin-left: -3px;
    text-transform: uppercase;
    color: #fff;
    background: transparent;
    border: 1px solid #eeeeee;
    letter-spacing: 0.35px;
    border-radius: 1px;
    font-size: 11px;
    font-family: Montserrat;
}

.portfolio__more:hover {
    text-decoration: underline;
    background: #fff;
    color: #000;
}

.portfolio__more:focus {
    text-decoration: underline;
    background: #fff;
    color: #000;
}

.contacts {
    width: 100%;
    height: 97px;
    margin-top: -97px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 5;
    box-sizing: border-box;
    color: #fff;
    text-transform: uppercase;
    font-family: Montserrat-Regular;
}

.contacts__wrap {
    width: 725px;
    min-height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.contacts__privacy {
    width: 24.6%;
    font-size: 8px;
    padding-top: 41px;
    word-spacing: 1.5px;
}

.contacts__privacy-logo {
    color: #efbf2e;
}

.contacts__privacy-point {
    padding: 0 2.5px;
    font-size: 13px;
}

.contacts__address {
    width: 32.4%;
    height: 50px;
    display: table;
    position: relative;
    padding-top: 19px;
}

.contacts__address-icon {
    width: 48px;
    height: 45px;
    padding-top: 13px;
    font-size: 28px;
    color: #efbf2e;
    display: block;
    float: left;
}

.contacts__address-inner {
    padding-right: 14px;
    font-size: 8px;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.8;
    word-spacing: 1.5px;
    letter-spacing: 0.2px;
}

.contacts__social {
    width: 22%;
    height: 50px;
    position: relative;
    box-sizing: border-box;
    padding-top: 37px;
    padding-left: 20px;
}

.contacts__social-link {
    color: #4e4e4e;
    text-decoration: none;
}

.contacts__social-icon {
    font-size: 10px;
    border-radius: 50%;
    background: #fff;
    padding: 5px 5px;
}

.contacts__social-icon-last:before {
    margin-right: 0;
}

.contacts__up {
    width: 40px;
    position: absolute;
    right: 70px;
    bottom: 30px;
}

.contacts__up-link {
    width: 36px;
    height: 36px;
    color: #4e4e4e;
    display: block;
    border-radius: 50%;
    background: #efbf2e;
    padding: 9px 10px;
    box-sizing: border-box;
    text-decoration: none;
}

.contacts__up-icon {
    font-size: 12px;
}

.contacts__up-icon:before {
    font-weight: bold;
}

.map {
    width: 100%;
    height: 220px;
}