@font-face {
    font-family: Lato;
    src: url(../fonts/Lato/Lato-Light.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato/Lato-Bold.ttf);
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 60px;
    background: #373b40;
}

.header__wrap {
    width: 75%;
    margin: 0 auto;
}

.header__logo {
    width: 322px;
    height: 60px;
    float: left;
}

.header__logo img {
    width: inherit;
    height: inherit;
}

.header__menu {
    float: right;
    height: 60px;
}

.header__touch-menu {
    float: right;
    display: none;
}

.header__menu-list {
    padding: 24px 0px;
    font-size: 13px;
}

.header__menu-item {
    display: inline;
    margin-left: -.36em;
}

.header__menu-item:first-child {
    margin-left: 0;
}

.header__menu-item--active a {
    background: #69bcc1;
}

.header__menu-item a {
    color: white;
    text-decoration: none;
    padding: 25px 10px;
}

.header__menu-item a:hover {
    background: #69bcc1;
}

.header__menu-item a:focus {
    background: #6cc2c7;
}

.slider {
    width: 100%;
    height: 400px;
    background-image: url(../images/slide1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.slider__frame {
    width: 75%;
    height: 400px;
    margin: 0 auto;
    line-height: 400px;
    position: relative;
}

.slider__text {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

.slider__small-text {
    display: block;
    font-size: 40px;
    font-family: Lato;
    color: #383838;
}

.slider__big-text {
    width: 300px;
    display: inline-block;
    font-size: 41px;
    font-family: Lato-Bold;
    text-transform: uppercase;
    color: #6bbbc1;
}

.slider__control {
    color: black;
    position: absolute;
    top: 45%;
    line-height: normal;
}

.slider__control--left {
    left: -80px;
}

.slider__control--right {
    right: -30px;
}

.slider__control-icon {
    position: absolute;
    top: 45%;
    border-radius: 50%;
    font-size: 18px;
    background: white;
    padding: 14px 13px;
}

.slider__control:hover .slider__control-icon {
    background: #6bbbc1;
}

.slider__control-icon:before {
    font-weight: bold;
}

.advantages {
    width: 100%;
    background: #6bbbc1;
    position: relative;
    padding-top: 30px;
    padding-bottom: 65px;
    box-sizing: border-box;
}

.advantages__wrap {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages__info {
    width: 32%;
    background: #3f4a4f;
    overflow: hidden;
    position: relative;
    opacity: 0.9;
    z-index: 5;
}

.advantages__info-wrap {
    width: 84%;
    display: inline-block;
    padding: 20px 20px;
    overflow: hidden;
}

.advantages__title {
    font-size: 2vw;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.advantages__subtitle {
    font-size: 14px;
    color: #64bdc0;
    line-height: 1.5;
}

.advantages__text {
    font-size: 11px;
    color: #fff;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 10px;
}

.advantages__more {
    padding: 15px 44px;
    display: inline-block;
    background: #69bcc1;
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

.advantages__more:hover {
    text-decoration: underline;
}

.advantages__more:focus {
    text-decoration: underline;
}

.advantages__info i {
    font-size: 195px;
    position: absolute;
    bottom: -25px;
    right: -95px;
    color: #516063;
    z-index: -1;
}

.advantages__bottom {
    width: 1px;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-top: 120px solid #6bbbc1;
    border-bottom: 0px;
    border-left: 0px;
    border-right: calc(100vw) solid #fff;
    margin-right: calc(-1 * (100vw - 100%));
    color: #fff;
}

.company {
    width: 100%;
    min-height: 640px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.company__wrap {
    width: 75%;
    height: inherit;
    margin: 0 auto;
}

.company__title {
    font-family: Lato;
    font-size: 33px;
    margin-bottom: 20px;
    color: #b2b2b2;
}

.company__title span {
    font-family: Lato-Bold;
    color: #373b3e;
}

.company__subtitle {
    font-size: 15px;
    color: #69bcc1;
}

.company__info {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.company__info-block {
    width: 32%;
    height: 250px;
}

.company__info-img {
    width: 100%;
    padding-bottom: 20px;
}

.company__info-text {
    font-size: 10.5px;
    line-height: 2;
    text-transform: none;
    color: #ababab;
}

.company__more {
    display: inline-block;
    padding: 15px 37px;
    background: #373b40;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 150px;
}

.company__more:hover {
    text-decoration: underline;
}

.company__more:focus {
    text-decoration: underline;
}

.company__bottom {
    width: 1px;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 120px solid #6bbbc1;
    border-left: calc(100vw) solid #fff;
    margin-right: calc(-1 * (100vw - 100%));
    color: #fff;
    z-index: -1;
}

.solutions {
    width: 100%;
    min-height: 330px;
    text-transform: uppercase;
    position: relative;
    background: #6bbbc1;
}

.solutions__title {
    font-size: 33px;
    font-family: Lato;
    color: #fff;
    padding-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.solutions__title span {
    font-family: Lato-Bold;
}

.solutions__info {
    width: 75%;
    min-height: 265px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.solutions__info-block {
    width: 32%;
    height: 250px;
    color: #fff;
}

.solutions__info-number {
    width: 60px;
    height: 60px;
    float: left;
    color: black;
    padding: 5px 5px;
    font-size: 45px;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px;
    margin-top: 5px;
    line-height: 60px;
    text-align: center;
}

.solutions__info-subtitle {
    width: 61%;
    display: block;
    float: left;
    font-size: 2vw;
    margin-bottom: 20px;
    line-height: 1.2;
}

.solutions__info-text {
    float: left;
    font-size: 10.5px;
    text-transform: none;
    line-height: 2;
}

.slider-bot {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.slider-bot__angle {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    border-top: 120px solid #6bbbc1;
    border-bottom: 0px;
    border-left: 0px;
    border-right: calc(100vw) solid transparent;
    margin-right: calc(-1 * (100vw - 100%));
    color: #fff;
}

.slider-bot__frame {
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
}

.slider-bot__scene {
    width: 100%;
    height: inherit;
    position: relative;
    background-color: #000;
}

.slider-bot__img {
    width: 100%;
    opacity: 0.4;
}

.slider-bot__info {
    width: 750px;
    height: 250px;
    position: absolute;
    padding: 10px;
    left: 0;
    right: 0;
    margin: auto;
    top: 40%;
    color: white;
    text-align: center;
}

.slider-bot__title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.slider-bot__subtitle {
    color: #6bbbc1;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
}

.slider-bot__text {
    font-size: 13px;
}

.slider-bot__control {
    width: 60px;
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 100px;
}

.slider-bot__circle {
    display: block;
    float: left;
    width: 13px;
    height: 13px;
    border: 1.5px solid #6bbbc1;
    border-radius: 50%;
    margin: 0px 2px;
}

.slider-bot__circle:hover {
    background: white;
    border-color: white;
}

.map {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.footer {
    width: 100%;
    min-height: 202px;
    background: #2f3338;
}

.footer__contacts {
    width: 75%;
    min-height: 105px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 45px;
}

.footer__contact-info {
    width: 32%;
    height: 50px;
    display: table;
    color: #6bbbc1;
    position: relative;
}

.footer__contact-info i {
    width: 60px;
    height: 55px;
    padding-top: 10px;
    padding-left: 6px;
    font-size: 38px;
    color: white;
    border-radius: 50%;
    background: #44484b;
    margin-right: 20px;
    display: block;
    float: left;
}

.footer__address {
    padding-right: 14px;
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.5;
}

.footer__phone {
    width: 225px;
    font-family: Lato;
    font-size: 20px;
    color: white;
    line-height: 1.2;
    display: table-cell;
    vertical-align: middle;
}

.footer__phone-title {
    color: #6bbbc1;
    font-size: 13px;
}

.footer__mail {
    width: 225px;
    font-size: 12px;
    color: #6bbbc1;
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
}

.footer__mail:hover {
    text-decoration: underline;
}

.footer__mail:focus {
    text-decoration: underline;
}

.footer__bottom {
    width: 100%;
    height: 52px;
    background: #26292f;
}

.footer__privacy {
    width: 65%;
    font-size: 10px;
    color: white;
    margin-left: 12.5%;
    padding-top: 22px;
    float: left;
}

.footer__social {
    width: 130px;
    float: left;
    padding-top: 14px;
}

.footer__social-link {
    color: #3b3d41;
}

.footer__social-link:hover {
    color: #6bbbc1;
}

.footer__social-link:focus {
    color: #6bbbc1;
}

.footer__social i {
    font-size: 24px;
}

.footer__up {
    float: right;
    padding-top: 22px;
    margin-right: 2%;
}

.footer__up-link {
    color: #3b3d41;
}

.footer__up-link:hover {
    color: #6bbbc1;
}

.footer__up-link:focus {
    color: #6bbbc1;
}

.footer__social-link:focus {
    color: #6bbbc1;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

@media screen and (max-width: 925px) {
    .header {
        height: 41px;
    }
    .header__logo {
        width: 220px;
        height: 41px;
    }
    .header__menu {
        height: 41px;
    }
    .header__menu-list {
        font-size: 12px;
        padding: 15px 0;
    }
    .header__menu-item a {
        padding: 13px 10px
    }
    .advantages__subtitle {
        font-size: 13px;
    }
    .advantages__more {
        font-size: 14px;
        padding: 14px 38px;
    }
    .advantages__bottom {
        border-top: 100px solid #6bbbc1;
    }
    .company__subtitle {
        font-size: 13px;
    }
    .company__bottom {
        border-bottom: 85px solid #6bbbc1;
    }
    .company__more {
        margin-top: 165px;
    }
    .solutions__title {
        font-size: 30px;
    }
    .solutions__info-number {
        width: 50px;
        height: 50px;
        padding: 4px;
        font-size: 45px;
        line-height: 48px;
    }
    .slider-bot__info {
        width: 92%;
    }
    .slider-bot__angle {
        border-top: 95px solid #6bbbc1;
    }

    .footer__contacts {
        overflow: unset;
    }

    .footer__contact-info i {
        margin-right: 10px;
    }
    .footer__phone {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .header__menu {
        display: none;
    }
    .header__wrap {
        width: 90%;
    }
    .header__touch-menu {
        display: block;
        padding-top: 12px;
        font-size: 14px;
    }
    .header__touch-menu a {
        color: white;
        text-decoration: none;
        padding: 12px 0;
    }
    .header__touch-menu a:hover {
        color: bisque;
    }
    .header__touch-menu a:focus {
        color: #e6e6e6;
    }
    .active {
        display: flex;
        width: 90%;
        position: absolute;
        z-index: 100;
        top: 41px;
    }
    .header__menu-list {
        width: 100%;
        padding: 0;
    }
    .header__menu-item {
        display: block;
        width: inherit;
        margin-left: 0;
        background: #fff;
    }
    .header__menu-item a {
        display: block;
        color: #373b40;
        text-decoration: none;
        padding: 8px 10px;
    }
    .header__menu-item a:hover {
        transition: .5s ease 0s;
        color: #fff;
        background: #6bbbc1;
    }
    .header__menu-item a:focus {
        transition: .5s ease 0s;
        background: #6bbbc1;
    }
    .slider {
        height: 300px;
    }
    .slider__frame {
        width: 90%;
        height: 300px;
        line-height: 300px;
    }
    .slider__text {
        width: 82%;
        margin-left: 30px;
    }
    .slider__small-text {
        font-size: 25px;
    }
    .slider__big-text {
        width: 200px;
        font-size: 26px;
    }
    .slider__control-icon {
        font-size: 15px;
        padding: 8px 7px;
    }
    .slider__control--left {
        left: -25px;
    }
    .slider__control--right {
        right: 10px;
    }
    .advantages {
        box-sizing: border-box;
    }
    .advantages__wrap {
        width: 90%;
        justify-content: space-around;
        align-items: stretch;
        height: unset;
    }
    .advantages__info {
        width: 100%;
        height: unset;
        margin-bottom: 10px;
    }
    .advantages__info-wrap {
        width: 90%;
    }
    .advantages__title {
        font-size: 15px;
    }
    .advantages__info i {
        font-size: 165px;
    }
    .advantages__bottom {
        border-top-width: 55px;
    }
    .company__wrap {
        width: 90%;
    }
    .company__title {
        margin-top: 20px;
        font-size: 30px;
    }
    .company__subtitle {
        font-size: 12px;
    }
    .company__info-block {
        width: 100%;
        height: unset;
        margin-bottom: 20px;
    }
    .company__info-img {
        width: 55%;
    }
    .company__more {
        margin-top: 55px;
    }
    .company__bottom {
        border-bottom-width: 55px;
    }
    .solutions__title {
        font-size: 25px;
        padding-top: 40px;
    }
    .solutions__info {
        width: 90%;
    }
    .solutions__info-block {
        width: 100%;
        height: unset;
        margin-bottom: 20px;
    }
    .solutions__info-subtitle {
        width: 75%;
        font-size: 18px;
        padding: 4% 0;
        margin-bottom: 0;
    }
    .solutions__info-number {
        margin-bottom: 10px;
    }
    .slider-bot {
        height: 65vw;
    }
    .slider-bot__info {
        top: 30%;
    }
    .slider-bot__angle {
        border-top-width: 55px;
    }
    .slider-bot__title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .slider-bot__control {
        bottom: 8%;
    }
    .footer__contacts {
        width: 90%;
        padding: 20px 0px 10px;
    }
    .footer__contact-info {
        width: 100%;
        margin-bottom: 10px;
    }
    .footer__contact-info i {
        font-size: 32px;
        width: 54px;
        height: 47px;
    }
    .footer__address {
        width: 100%;
    }
    .footer__phone {
        width: 100%;
    }
    .footer__mail {
        width: 100%;
    }
    .footer__privacy {
        width: 53%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 450px) {
    .header__wrap {
        width: 95%;
    }
    .slider__control {
        display: none;
    }
    .active {
        width: 95%;
    }
    .company__info-img {
        width: 75%;
    }
    .solutions__info-subtitle {
        width: 70%;
        font-size: 15px;
    }
    .slider-bot__info {
        top: 20%;
        height: unset;
    }
    .slider-bot__title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .slider-bot__subtitle {
        font-size: 16px;
    }
    .slider-bot__text {
        font-size: 12px;
    }
    .slider-bot__control {
        display: none;
    }
    .footer__bottom {
        height: 100px;
    }
    .footer__privacy {
        width: 95%;
        padding-top: 30px;
        margin-left: 5%;
    }
}