html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    width: 100%;
    height: 66px;
    background: #373b40;
}

.header__wrap {
    width: 75%;
    margin: 0 auto;
}

.header__logo {
    width: 356px;
    height: 66px;
    float: left;
}

.header__menu {
    float: right;
    height: 66px;
}

.header__menu-list {
    padding: 25px 0px;
}

.header__menu-item {
    display: inline;
    padding: 6px;
}

.header__menu-item--active a {
    background: #69bcc1;
    padding: 25px 10px;
}

.header__menu-item a {
    color: white;
    text-decoration: none;
}

.slider {
    width: 100%;
    height: 400px;
}

.slider__left {
    width: 12.5%;
    height: inherit;
    background: linear-gradient(to left, #f0f0f0, #e6e6e6);
    position: relative;
    float: left;
}

.slider__control {
    color: black;
}

.slider__control-icon {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    background: white;
    padding: 7px 4px;
}

.slider__control:hover .slider__control-icon {
    background: #6bbbc1;
}

.slider__left i {
    right: 50px;
}

.slider__frame {
    width: 75%;
    height: 400px;
    float: left;
    background-image: url(../images/slide1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__right {
    width: 12.5%;
    height: inherit;
    background: linear-gradient(to right, #f0f0f0, #e6e6e6);
    position: relative;
    float: right;
}

.slider__right i {
    left: 50px;
}

.advantages {
    width: 100%;
    height: 300px;
    background: #6bbbc1;
    position: relative;
    padding-top: 30px;
}

.advantages__wrap {
    width: 75%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages__info {
    width: 32%;
    height: 240px;
    background: #3f4a4f;
    overflow: hidden;
    position: relative;
    opacity: 0.9;
    z-index: 5;
}

.advantages__info-wrap {
    width: 255px;
    height: 200px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 20px;
    overflow: hidden;
}

.advantages__title {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.advantages__subtitle {
    font-size: 14px;
    color: #64bdc0;
    line-height: 1.5;
}

.advantages__text {
    font-size: 13px;
    color: #fff;
    line-height: 1.5;
    margin-top: 5px;
}

.advantages__more {
    padding: 10px 30px;
    background: #69bcc1;
    border: 0;
    text-transform: uppercase;
    margin-top: 10px;
}

.advantages__more a {
    color: #fff;
    text-decoration: none;
}

.advantages__info i {
    font-size: 195px;
    position: absolute;
    bottom: -25px;
    right: -95px;
    color: #516063;
    z-index: -1;
}

.advantages__bottom {
    width: 1px;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-top: 120px solid #6bbbc1;
    border-bottom: 0px;
    border-left: 0px;
    border-right: calc(100vw - 18px) solid #fff;
    color: #fff;
}

.company {
    width: 100%;
    min-height: 584px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.company__wrap {
    width: 75%;
    height: inherit;
    margin: 0 auto;
}

.company__title {
    font-size: 33px;
    margin-bottom: 20px;
}

.company__title span {
    font-weight: bold;
}

.company__subtitle {
    font-size: 15px;
    color: #69bcc1;
}

.company__info {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.company__info-block {
    width: 32%;
    height: 250px;
}

.company__info-img {
    width: 100%;
    padding-bottom: 20px;
}

.company__info-text {
    font-size: 11px;
    text-transform: none;
    color: grey;
}

.company__more {
    padding: 10px 30px;
    background: #373b40;
    border: 0;
    text-transform: uppercase;
    margin-top: 100px;
}

.company__more a {
    color: #fff;
    text-decoration: none;
}

.company__bottom {
    width: 1px;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 120px solid #6bbbc1;
    border-left: calc(100vw - 18px) solid #fff;
    color: #fff;
    z-index: -1;
}

.solutions {
    width: 100%;
    min-height: 330px;
    text-transform: uppercase;
    position: relative;
    background: #6bbbc1;
}

.solutions__title {
    font-size: 33px;
    color: #fff;
    padding-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.solutions__title span {
    font-weight: bold;
}

.solutions__info {
    width: 75%;
    min-height: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.solutions__info-block {
    width: 32%;
    height: 250px;
    color: #fff;
}

.solutions__info-number {
    width: 60px;
    height: 60px;
    float: left;
    color: black;
    padding: 5px 5px;
    font-size: 45px;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px;
    margin-top: 5px;
    line-height: 60px;
    text-align: center;
}

.solutions__info-subtitle {
    width: 200px;
    display: block;
    float: left;
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.solutions__info-text {
    font-size: 11px;
    text-transform: none;
    line-height: 1.5;
}

.slider-bot {
    width: 100%;
    height: 500px;
    position: relative;
}

.slider-bot__angle {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    border-top: 120px solid #6bbbc1;
    border-bottom: 0px;
    border-left: 0px;
    border-right: calc(100vw - 18px) solid transparent;
    color: #fff;
}

.slider-bot__frame {
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
}

.slider-bot__scene {
    width: 100%;
    height: inherit;
    position: relative;
    background-color: #000;
}

.slider-bot__img {
    width: 100%;
    height: inherit;
    opacity: 0.4;
}

.slider-bot__info {
    width: 750px;
    height: 250px;
    position: absolute;
    padding: 10px;
    left: 0;
    right: 0;
    margin: auto;
    top: 40%;
    color: white;
    text-align: center;
}

.slider-bot__title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.slider-bot__subtitle {
    color: #6bbbc1;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
}

.slider-bot__text {
    font-size: 13px;
}

.slider-bot__control {
    width: 60px;
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 100px;
}

.slider-bot__circle {
    display: block;
    float: left;
    width: 13px;
    height: 13px;
    border: 1.5px solid #6bbbc1;
    border-radius: 50%;
    margin: 0px 2px;
}

.slider-bot__circle:hover {
    background: white;
    border-color: white;
}

.map {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.footer {
    width: 100%;
    height: 250px;
    background: #2f3338;
}

.footer__contacts {
    width: 75%;
    min-height: 150px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 70px;
}

.footer__contact-info {
    width: 32%;
    height: 80px;
    color: #6bbbc1;
    position: relative;
}

.footer__contact-info i {
    width: 56px;
    height: 50px;
    font-size: 40px;
    color: white;
    border-radius: 50%;
    background: #44484b;
    padding-top: 5px;
    display: block;
    float: left;
}

.footer__address {
    width: 205px;
    float: left;
    padding-top: 16px;
    padding-left: 20px;
    font-size: 12px;
}

.footer__phone {
    width: 205px;
    float: left;
    padding-top: 5px;
    padding-left: 20px;
    color: white;
    line-height: 1.2;
}

.footer__phone-title {
    color: #6bbbc1;
    font-size: 12px;
}

.footer__mail {
    width: 205px;
    float: left;
    padding-top: 21px;
    padding-left: 20px;
    font-size: 12px;
    color: #6bbbc1;
}

.footer__bottom {
    width: 100%;
    height: 50px;
    background: #26292f;
}

.footer__privacy {
    width: 65%;
    font-size: 12px;
    color: white;
    margin-left: 12.5%;
    padding-top: 32px;
    float: left;
}

.footer__social {
    width: 12%;
    float: left;
    padding-top: 18px;
}

.footer__social-link {
    color: #3b3d41;
}

.footer__social-link:hover {
    color: #6bbbc1;
}

.footer__social-link:focus {
    color: #6bbbc1;
}

.footer__social i {
    font-size: 28px;
}

.footer__up {
    float: right;
    padding-top: 30px;
    margin-right: 2%;
}

.footer__up-link {
    color: #3b3d41;
}

.footer__up-link:hover {
    color: #6bbbc1;
}

.footer__social-link:focus {
    color: #6bbbc1;
}